<div class="col-8 col-lg-4 col-xl-3">

    <div class="card border-8">

        <div class="card-body text-center py-4">

        <h4 class="card-title">{{product.name}}</h4>

        <p class="lead card-subtitle">{{product.type}}</p>

        <p class="lead card-subtitle">{{product.materials}}</p>

        <p class="display-5 my-4 text-primary fw-bold">Rp{{product.price}}</p>

        <p class="card-text mx-5 text-muted d-none d-lg-block">{{product.description}}</p>

        <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-outline-primary btn-lg mt-3">Edit</a>

        <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-outline-primary btn-lg mt-3">Delete</a>

        </div>

    </div>

</div>